global
  log /dev/log  local0
  log /dev/log  local1 notice
{% if haproxy_socket != '' %}
  stats socket {{ haproxy_socket }} level admin
{% endif %}
{% if haproxy_chroot != '' %}
  chroot {{ haproxy_chroot }}
{% endif %}
  user {{ haproxy_user }}
  group {{ haproxy_group }}
  daemon
{% for global_var in haproxy_global_vars %}
  {{ global_var }}
{% endfor %}

defaults
  mode                    http
  log                     global
  option                  httplog
  option                  dontlognull
  option http-server-close
  option forwardfor       except 127.0.0.0/8
  option                  redispatch
  retries                 3
  timeout http-request    10s
  timeout queue           1m
  timeout connect         10s
  timeout client          1m
  timeout server          1m
  timeout http-keep-alive 10s
  timeout check           10s
  maxconn                 3000

#---------------------------------------------------------------------
listen stats
    bind :9000
    mode http
    stats enable
    stats uri /
    monitor-uri /healthz

frontend {{ api_frontend_name }}
    bind {{ api_frontend_bind_address }}:{{ api_frontend_bind_port }}
    default_backend {{ api_frontend_default_backend }}
    mode {{ api_frontend_mode }}
    option tcplog

backend {{ api_backend_name }}
    balance {{ api_backend_balance_method }}
    mode {{ api_backend_mode }}
    server {{ openshift_bootstrap[0].name | lower }} {{ openshift_bootstrap[0].target }}:6443 check
{% for m in openshift_masters %}
    server {{ m.name | lower }} {{ m.target }}:6443 check
{% endfor %}

frontend {{ mc_frontend_name }}
    bind {{ mc_frontend_bind_address }}:{{ mc_frontend_bind_port }}
    default_backend {{ mc_backend_name }}
    mode {{ mc_frontend_mode }}
    option tcplog

backend {{ mc_backend_name }}
    balance {{ mc_backend_balance_method }}
    mode {{ mc_backend_mode }}
    server {{ openshift_bootstrap[0].name | lower }} {{ openshift_bootstrap[0].target }}:22623 check
{% for m in openshift_masters %}
    server {{ m.name | lower }} {{ m.target }}:22623 check
{% endfor %}

frontend {{ ing_http_frontend_name }}
    bind {{ ing_http_frontend_bind_address }}:{{ ing_http_frontend_bind_port }}
    default_backend {{ ing_http_frontend_default_backend }}
    mode {{ ing_http_frontend_mode }}
    option tcplog

backend {{ ing_http_backend_name }}
    balance {{ ing_http_backend_balance_method }}
    mode {{ ing_http_backend_mode }}
{% for w in openshift_workers %}
    server {{ w.name | lower }} {{ w.target }}:80 check
{% endfor %}
{% for m in openshift_masters %}
    server {{ m.name | lower }} {{ m.target }}:80 check
{% endfor %}

frontend {{ ing_https_frontend_name }}
    bind {{ ing_https_frontend_bind_address }}:{{ ing_https_frontend_bind_port }}
    default_backend {{ ing_https_frontend_default_backend }}
    mode {{ ing_https_frontend_mode }}
    option tcplog

backend {{ ing_https_backend_name }}
    balance {{ ing_https_backend_balance_method }}
    mode {{ ing_https_backend_mode }}
{% for w in openshift_workers %}
    server {{ w.name | lower }} {{ w.target }}:443 check
{% endfor %}
{% for m in openshift_masters %}
    server {{ m.name | lower }} {{ m.target }}:443 check
{% endfor %}


#---------------------------------------------------------------------
